%bold{font-weight: 500;}
%title-l{font-size: 3.2rem; line-height: 40px; letter-spacing: -0.5px;
    @media(max-width:550px){font-size: 20px; line-height: 25px; letter-spacing: 0.31px;}
}
%title-m{font-size: 2.4rem; line-height: 30px;}
%title-s{@extend %title-m; @extend %bold;}
%title-xs{font-size: 1.8rem; line-height: 22.68px; @extend %bold;}

%body-m{font-size: 1.5rem; line-height: 18.9px;}
%body-s{font-size: 1.3rem; line-height: 16.38px; opacity: 0.75;}

%button{@extend %body-m;}

%border-100{border-radius: 100px;}
%border-20{border-radius: 20px;}
%border-8{border-radius: 8px;}

%placeholder{&::-webkit-input-placeholder {color: white; opacity: 0.5; font-size: 2.4rem;} &::-moz-placeholder {color: white; opacity: 0.5; font-size: 2.4rem;} &:-ms-input-placeholder {color: white; opacity: 0.5; font-size: 2.4rem;} &:-moz-placeholder {color: white; opacity: 0.5; font-size: 2.4rem;}
    @media(max-width:550px){&::-webkit-input-placeholder {font-size: 15px;} &::-moz-placeholder {font-size: 15px;} &:-ms-input-placeholder {font-size: 15px;} &:-moz-placeholder {font-size: 15px;}}
}
%cover{height: 100%; width: 100%; object-fit: cover;}
%list-dots{position: relative; 
    &:after{content: ""; position: absolute; top:11px; right:-11px; height: 3px; width: 3px; background-color: white; opacity: 0.5; @extend %border-20;}
    &:last-child{&:after{content: none;}}
}

